/*font-face= le dice al archivo donde esta la font que descargamos*/
@font-face{ 
	font-family: Dosis;
	src:url("Dosis/Dosis-Bold.ttf");
}

#textoReferenciado{
	font-family: 'Poppins', sans-serif;
}
#textoDescargado{
	font-family: 'Dosis', sans-serif;

}