
<!--<%= console.log(data); %>-->
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>CRUD NODEJS MySQL</title>
</head>
<body>

	<table border align="center">
		<thead>
			<tr>
				<th>No.</th>
				<th>Nombre</th>
				<th>Direccion</th>
				<th>Telefono</th>
				<th>Acciones</th>
			</tr>

		</thead>
		<tbody>
			<% if (data) { %>
			   <% for(var i = 0; i<data.length; i++ {) %>
			   <%%>
			<% } %>   
			
		</tbody>
		
	</table>

</body>
</html>
