body{
	border: 1px solid blue;
	margin: 0px auto;
	max-width: 1024px;
}

header{
		background: #d3e4e7;
}

header nav ul li{
	border: 1px solid red;
	display: inline-block;
	margin-right: 20px;
}

/*selector de id*/
#logo{
	margin-top: -150px;
}